.window {
	/*
    url("@renderer/assets/login/bg-top.png") with inherited height from image, stretch width, no-repeat, top center
    */
	background:
		url("@renderer/assets/login/bg-top.png") no-repeat top center / 100% 80px,
		linear-gradient(
			180deg,
			#3bb1e8 0px,
			#e1eff5 80px,
			#fff 160px,
			#fff 75%,
			#c9e7f3 100%
		);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.heading {
	color: #355ab1;
	font-weight: normal;
	font-size: 14pt;
	margin-bottom: 6px;
}

.content {
	width: calc(100% - 72px);
	display: flex;
	flex-direction: column;
	align-items: center;
}